/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-oct-2019, 10:58:10
    Author     : DarkS
*/
.focus {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.pageNumber {
    padding: 2px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 50px;
    margin: 0 auto;
    width: 80%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*
        Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
*/
@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        margin-top: 2px;
        border: none;
        position: relative;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    /*
    Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    #usuarios td:nth-of-type(1):before { content: "Dni";}
    #usuarios td:nth-of-type(2):before { content: "Correo"; }
    #usuarios td:nth-of-type(3):before { content: "Nombre"; }
    #usuarios td:nth-of-type(4):before { content: "Apellidos"; }
    #usuarios td:nth-of-type(5):before { content: "Edad"; }
    #usuarios td:nth-of-type(6):before { content: "Activo"; }
    #usuarios td:nth-of-type(7):before { content: ""; }
    #usuarios td:nth-of-type(8):before { content: "IdRol"; }
    #usuarios td:nth-of-type(9):before { content: "Descripción Rol"; }
    #usuarios td:nth-of-type(10):before { content: ""; }
    #usuarios td:nth-of-type(11):before { content: ""; }

    #bitacora td:nth-of-type(1):before { content: "Acción"; }
    #bitacora td:nth-of-type(2):before { content: "Fecha y Hora de la acción"; }
    #bitacora td:nth-of-type(3):before { content: "Correo"; }
    #bitacora td:nth-of-type(4):before { content: "Rol"; }


    #aulas td:nth-of-type(1):before { content: "IdFranja"; }
    #aulas td:nth-of-type(2):before { content: "Inicio"; }
    #aulas td:nth-of-type(3):before { content: "Fin"; }
    #aulas td:nth-of-type(4):before { content: ""; }

    #reservasProfe td:nth-of-type(1):before { content: "IdReserva"; }
    #reservasProfe td:nth-of-type(2):before { content: "Fecha"; }
    #reservasProfe td:nth-of-type(3):before { content: "Número Aula"; }
    #reservasProfe td:nth-of-type(4):before { content: ""; }
    #reservasProfe td:nth-of-type(5):before { content: ""; }


    #franjas td:nth-of-type(1):before { content: "IdFranja"; }
    #franjas td:nth-of-type(2):before { content: "Inicio"; }
    #franjas td:nth-of-type(3):before { content: "Fin"; }
    #franjas td:nth-of-type(4):before { content: ""; }
    #franjas td:nth-of-type(5):before { content: ""; }
}