/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-oct-2019, 10:53:21
    Author     : daw201
*/

.invalid{
    border: 3px solid red;
}

.readonly{
    background-color: lightgrey;
}

div { margin-bottom: 10px; position: relative; } 
input + span { padding-right: 30px; } 
input:invalid+span:after { position: absolute; content: '✖'; padding-left: 5px; color: red;} 
input:valid+span:after { position: absolute; content: '✓'; padding-left: 5px; color: green;}